body {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #646464;
    border-radius: 4px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
}

@font-face {
    font-family: main-font;
    src: url(font/Lugrasimo-Regular.ttf);
}

@font-face {
    font-family: title-font;
    src: url(font/Barbatos.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: main-font;
    background-image: url("img/bg2.jpg");
    background-size: cover;    
    background-position: center center;  
    background-repeat: no-repeat;  
    background-attachment: fixed; 
}

input[type=text] {
    outline: none;
}

.playMenu {
    display: block;
    background-color: #292929;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.playMenu .centerDiv {
    text-align: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

.startMenu {
    display: none; /* FLEX */
    text-align: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.allItem .btn {
    display: grid;
}

.allItem h1, .playMenu h1 {
    font-family: title-font;
    color: #000;
    background-color: #EEE;
    width: 200px;
    font-size: 50px;
    padding: 5px;
}

.game h1 {
    text-align: center;
    font-family: title-font;
    color: #000;
    background-color: #EEE;
    width: 200px;
    font-size: 50px;
    padding: 5px;
    position: absolute;
    margin: 10px;
}

.startMenu #first {
    width: 190px;
    margin: auto;
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.startMenu #second {
    width: 160px;
    margin: auto;
    width: 65%;
}

.playMenu #closeButton {
    width: 70%;
    margin-top: 10px;
}

.main {
    padding: 8px;
    font-family: main-font;
    border: none;
    margin: 2.5px;
    border-radius: 5px;
    color: #f5bf42;
    text-shadow: 1px 1px 4px #000;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 2px inset #f5bf42;
}

.main:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEE;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.game iframe {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #f5bf42 groove 5px;
    border-radius: 10px;
}

.game {
    display: none;
}

.playMenu p {
    display: none;
    font-size: 15px;
    color: red;
}

.frame {
    display: block;
    background-color: #292929;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*GAME - - - - - - - - - - - - - - - */


.creatCharacter h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: #EEE;
    text-decoration: underline;
}

.creatCharacter .race {
    display: block;
}

.creatCharacter h3 {
    position: absolute;
    top: 0;
    right: 0;
    color: #EEE;
    margin-right: 30px;
    margin-top: 15px;
}

.creatCharacter .line {
    height: 2px;
    width: 100%;
    background-color: #f5bf42;
    margin-top: 50px;
}

.creatCharacter .race .table {
    width: 200px;
    float: right;
    margin-right: 10px;
}

.creatCharacter h4 {
    color: #EEE;
    text-decoration: underline;
}


.creatCharacter .race h4 {
    margin-left: 25px;
    margin-bottom: 5px;
}

.creatCharacter .race .description {
    float: left;
    width: 240px;
    text-align: center;
    margin: 5px;
}

.creatCharacter .race .description .text {
    overflow-y: scroll;
    height: 240px;
    margin-left: 20px;
    border: 2px groove #f5bf42;
    padding: 5px;
    color: #EEE;
}

.creatCharacter .race .table button {
    font-family: main-font;
    border: none;
    background: none;
    font-size: 15px;
    background-color: #363535;
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    color: #f5bf42;
    text-shadow: 1px 1px 4px #000;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 1.5px inset #f5bf42;
}

.creatCharacter .race .table button:hover {
    cursor: pointer;
    border: 1.5px inset #c9b587;
    color: #c9b587;
}

.creatCharacter .race .selected{
    position: absolute;
    bottom: 40px;
    display: flex;
}

.creatCharacter .race .selected img {
    max-width: 120px;
    margin-left: 10px;
}

.creatCharacter .race .selected .ss {
    margin-top: 40px;
}

.creatCharacter .race .selected .ss input {
    border: none;
    background: none;
    font-family: main-font;
    color: red;
    margin-left: 18px;
    outline: none;
}

.creatCharacter .page {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.creatCharacter .class {
    display: none;
}

.creatCharacter .class .table button {
    border: none;
    background: none;
    background-color: #363535;
    height: 85px;
    width: 85px;
    margin: 5px;
    border-radius: 50%;
    font-family: main-font;
    color: #EEE;
    border: inset 2px #f5bf42;
    text-shadow: 1px 1px 4px #000;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
}

.creatCharacter .class .table button:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.creatCharacter .class .des {
    position: absolute;
    right: 100px;
    bottom: 235px;
}

.creatCharacter .class .description {
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    bottom: 60px;
    width: 280px;
    height: 160px;
    padding: 2px;
    border: 2px groove #f5bf42;
    color: #EEE;
}

.creatCharacter .class .selected h4 {
    margin-top: 30px;
    margin-left: 65px;
}


.creatCharacter .class .selected input {
    text-align: center;
    border: none;
    background: none;
    color: red;
    font-family: main-font;
}

.creatCharacter .class .ability {
    position: absolute;
    bottom: 30px;
}

.creatCharacter .class .ability h4 {
    margin-left: 25px;
}

.creatCharacter .class .ability input {
    color: #a269ff;
    font-family: main-font;
    border: none;
    background: none;
    text-align: center;
}

.creatCharacter .point {
    display: none;
}

.creatCharacter .point .table {
    overflow-y: auto; /* Use auto to show the scroll bar only when necessary */
    height: 400px;
    width: 200px;
    border: #f5bf42 5px groove;
    margin: 10px;
}

.creatCharacter .point .pointage {
    display: flex;
    margin: 10px;
}

.creatCharacter .point .pointage .circle input {
    border: none;
    text-align: center;
    background: none;
    width: 35px;
    font-size: 15px;
    font-family: main-font;
    text-shadow: 1px 1px 4px #000;
    color: #47b9ff;
}

.creatCharacter .point .pointage .circle {
    color: #EEE;
    background-color: #FFF;
    font-size: 12px;
    height: 50px;
    padding: 10px;
    text-align: center;
    width: 70px;
    border-radius: 50%;
    text-shadow: 1px 1px 4px #000;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
    border: 2px inset #f5bf42;
}

.creatCharacter .point .pointage button {
    margin: 5px;
    margin-top: 22px;
    height: 30px;
    width: 30px;
    font-weight: 400;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #de5021;
    border-radius: 50%;
    text-shadow: 1px 1px 4px #000;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
    border: 2px inset #f5bf42;
}

.creatCharacter .point .pointage button:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.creatCharacter .point .point-left .circle input {
    width: 50px;
    text-align: center;
    border: none;
    background: none;
    font-family: main-font;
    font-size: 35px;
    margin-top: 20px;
    color: #25a816;
    text-shadow: 1px 1px 4px #000;
}

.creatCharacter .point .point-left .circle {
    text-align: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
    border: 2px inset #f5bf42;
    text-shadow: 1px 1px 4px #000;
    color: #EEE;
}

.creatCharacter .point .point-left {
    position: absolute;
    top: 80px;
    right: 80px;
}

.creatCharacter input[type=text] {
    outline: none;
}

.creatCharacter .point .bonus {
    position: absolute;
    top: 250px;
    right: 18px; 
    text-align: center;
}

.creatCharacter .point .bonus input {
    border: none;
    width: 250px;
    text-align: center;
    font-family: main-font;
    color: #a269ff;
    background: none;
}

.creatCharacter .point .minimal-point, .creatCharacter .point .maximum-point, .creatCharacter .point .no-point  {
    display: none;
    position: absolute;
    bottom: 2px;
    color: red;
}

.creatCharacter .final {
    display: none;
}

.creatCharacter .final .name {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.creatCharacter .final .name label {
    color: #EEE;
}

.creatCharacter .final .name input {
    border: 2px inset #f5bf42;
    text-shadow: 1px 1px 4px #000;
    font-family: main-font;
    background-color: #363535;
    color: #EEE;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
} 

.creatCharacter .final .character .img img {
    max-width: 100px;
    border: 4px groove #f5bf42;
    border-radius: 8px;
}

.creatCharacter .final .character {
    position: absolute;
    bottom: 60px;
    left: 10px;
    text-align: center;
}

.creatCharacter .final .character .btn {
    width: 100%;
    text-align: center;
}

.creatCharacter .final .character .btn button {
    width: 45%;
    border: none;
    background: none;
    color: #f5bf42;
    text-shadow: 1px 1px 4px #000;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 1.5px inset #f5bf42;
}

.creatCharacter .final .character .btn button:hover {
    cursor: pointer;
    border: 1.5px inset #c9b587;
    color: #c9b587;
}

.creatCharacter .final .info1 {
    text-align: center;
    margin-top: 10px;
}

.creatCharacter .final .info1 input {  
    border: none;
    background: none;
    text-align: center;
    font-family: main-font;
    font-size: 15px;
    font-weight: 800;
}

.creatCharacter .final .info1 #race-input {
    color: #25a816;
}

.creatCharacter .final .info1 #class-input {
    color: #a269ff;
}

.creatCharacter .final .table {
    display: grid;
    position: absolute;
    right: 40px;
    bottom: 70px;
}

.creatCharacter .final .table .first-row {
    display: flex;
}

.creatCharacter .final .table h4 {
    text-align: center;
}

.creatCharacter .final .table .item {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: #EEE;
    text-align: center;
    color: #EEE;
    border-radius: 5px;
    text-shadow: 1px 1px 4px #000;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 2px inset #f5bf42;
}

.creatCharacter .final .table .item input {
    width: 40px;
    text-align: center;
    font-size: 18px;
    font-family: main-font;
    color: #de5021;
    background: none;
    text-shadow: 1px 1px 4px #000;
    border: none;
}

.creatCharacter .final .no-name {
    display: none;
    margin-top: 40px;
    text-align: center;
    color: red;
}

.creatCharacter .reconfirmation {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #363535;
    width: 300px;
    padding: 16px;
    color: #FFF;
    border-radius: 15px;
    border: 4px groove #f5bf42;
    right: 90px;
    top: 100px;
    z-index: 9;
}

.creatCharacter .black {
    display: none;
    width: 500px;
    top: 53px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.creatCharacter {
    display: block;
}

.load {
    text-align: center;


    display: none;
}

.load #startAfter {
    position: absolute;
    top: 160px;
    left: 120px;
    display: none;
}

/* GAMEPLAY/MAIN UI DOWN ----------------===========-------------===========*/

.cinematic {
    display: none;
}

.cinematic button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.gameplay {
    display: block;
}

.gameplay .main-map .main {
    bottom: 10px;
    right: 10px;
    padding: 8px;
    font-family: main-font;
    border: none;
    margin: 2.5px;
    border-radius: 5px;
    color: #f5bf42;
    text-shadow: 1px 1px 4px #000;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 2px inset #f5bf42;
    width: 70px;
    z-index: 9999;
}

.gameplay .main-map button img {
    max-width: 30px;
    margin-top: 5px;
    margin-left: 2px;
    z-index: -1;
    cursor: pointer;
}

.gameplay .main-map button {
    position: absolute;
    cursor: pointer !important;
    z-index: 50;
    width: 40px;
    height: 40px;
    padding: 20px;
    background: none;
    border: none;
    border-radius: 50%;
    border: inset 2px #f5bf42;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
}

.gameplay .main-map button:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.gameplay .main-ui {
    display: none;
}

.gameplay .main-map {
    display: none;

    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.gameplay .main-map .here {
    border: 5px #de5021 groove;
}

.gameplay .main-map .here:hover {
    border: 5px #91462d groove;
}

.gameplay .main-map .legend {
    background-color: #c9b587;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border: 2px inset #787878;
    z-index: 30;
}

.gameplay .main-map .legend .text {
    position: absolute;
    left: 40px;
    width: 500px;
    bottom: 10px;
}

.gameplay .main-map .legend .text p {
    margin-top: 13px;
    text-decoration: underline;
    font-size: 11px;
}

.gameplay .main-map .legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

.gameplay .main-map .legend .image {
    display: grid;
}

.gameplay .main-map .legend .image img{
    position: relative;
    max-width: 30px;
}

.gameplay .main-map img {
    position: absolute;
    top: 0;
    left: 0;
    width: 2048px; /* Largeur de l'image */
    cursor: grab;
}

.gameplay .mainGameWindow {
    border: 5px groove #a3a3a3;
    width: 360px;
    height: 300px;
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: -6;
}

.gameplay .bottom-window .nav {
    position: absolute;
    bottom: 110px;
    left: 20px;
}

.gameplay .bottom-window .nav button {
    border: 2px;
    padding: 2px;
    width: 45px;
    text-shadow: 1px 1px 4px #000;
    font-family: main-font;
    font-size: 11px;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    border: 2px inset #f5bf42;
    color: #FFF;
}

.gameplay .bottom-window .nav button:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.gameplay .bottom-window .page {
    border: 3px groove #f5bf42;
    position: absolute;
    bottom: 5px;
    width: 95%;
    left: 10px;
    height: 95px;
}

.gameplay .right {
    position: absolute;
    display: grid;
    right: 0;
    top: 70px;
    width: 120px;
}

.gameplay .right .top {
    border-top: 2px inset #f5bf42;
}

.gameplay .right button {
    text-shadow: 1px 1px 4px #000;
    font-family: main-font;
    background: none;
    border: none;
    height: 44.3px;
    border-bottom: 2px inset #f5bf42;
    color: #FFF;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
}

.gameplay .right button:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.gameplay .top-pv-info .level {
    margin: 5px;
    border-radius: 50%;
    padding: 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    background: none;
    border: none;
    font-family: main-font;
    color: #EEE;
    font-size: 30px;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
    border: 2px inset #f5bf42;
    text-shadow: 1px 1px 4px #000;
}

.top-pv-info #health-bar {
    position: absolute;
    left: 55px;
    top: 15px;
    z-index: -1;
}

.top-pv-info #xp-bar {
    position: absolute;
    left: 52px;
    top: 39px;
    z-index: -1;
}

.top-pv-info #xp-bar {
    width: 200px;
    height: 12px; 
}

.top-pv-info #health-text {
    position: absolute;
    border: none;
    background: none;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000;
    top: 19px;
    left: 170px;
}

.top-pv-info #xp-text {
    position: absolute;
    border: none;
    background: none;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000;
    top: 39px;
    left: 130px;
}

.top-pv-info progress {
    width: 300px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    border: 2px inset #f5bf42;
    background-color: #292929;
    border-bottom-right-radius: 10px;
}

.top-pv-info progress::-webkit-progress-bar {
    background-color: #292929;
    overflow: hidden;
}

.top-pv-info progress::-webkit-progress-value {
    background: rgb(119,255,92);
    background: linear-gradient(180deg, rgba(119,255,92,1) 9%, rgba(169,255,113,1) 38%, rgba(64,105,0,1) 56%, rgba(8,47,0,1) 100%); 
    transition: width 0.4s ease-in-out;
}

.top-pv-info progress::-moz-progress-bar {
    background: rgb(119,255,92);
    background: linear-gradient(180deg, rgba(119,255,92,1) 9%, rgba(169,255,113,1) 38%, rgba(64,105,0,1) 56%, rgba(8,47,0,1) 100%); 
    transition: width 0.4s ease-in-out;
}


.top-pv-info #xp-bar::-webkit-progress-value {
    background: rgb(183,92,255);
    background: linear-gradient(180deg, rgba(183,92,255,1) 9%, rgba(229,188,255,1) 44%, rgba(118,0,204,1) 65%, rgba(23,0,28,1) 100%); 
    transition: width 0.4s ease-in-out;
}

.top-pv-info #xp-bar::-moz-progress-bar {
    background: rgb(183,92,255);
    background: linear-gradient(180deg, rgba(183,92,255,1) 9%, rgba(229,188,255,1) 44%, rgba(118,0,204,1) 65%, rgba(23,0,28,1) 100%); 
    transition: width 0.4s ease-in-out;
}

.gameplay .save {
    position: absolute;
    right: 10px;
    top: 10px;
}

.load h3 {
    color: #FFF;
    margin: 10px;
}

.load {
    position: absolute;
    left: 85px;
    top: 100px;
    text-align: center;
}

.load input[type=file] {
    width: 200px;
}

.load input[type=file]::file-selector-button {
    background: none;
    padding: 8px;
    font-family: main-font;
    border: none;
    margin: 2.5px;
    border-radius: 5px;
    color: #EEE;
    text-shadow: 1px 1px 4px #000;
  }
 
  .load p {
    color: #a269ff;
  }


.quest-menu {
    display: none;
}

.quest-menu .quest {
    display: flex;
    color: #FFF;
    padding: 10px;
    border: 2px inset #c5c5c5;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.quest-menu .quest:hover {
    cursor: pointer;
    border: 2px inset #c9b587;
    color: #c9b587;
}

.quest-menu .quest button {
    position: absolute;
    margin-top: -10px;
    width: 420px;
    height: 10px;
    padding: 9px;
    margin-left: -10px;
    padding-left: 100px;
    padding-top: 40px;
    cursor: pointer;
    border: none;
    background: none;
}

.quest-menu .quest p {
    margin-left: 50px;
}

.quest-menu .quest input[type=checkbox] {
    margin-left: 15px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 2px;
    border: 2px inset #f5bf42;
    border-radius: 0.5rem;
}

.quest-menu .quest input[type=checkbox]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
    background: rgb(245,191,64);
    background: linear-gradient(180deg, rgba(245,191,64,1) 9%, rgba(250,255,188,1) 44%, rgba(245,191,64,1) 76%, rgba(97,68,0,1) 100%);
}

.quest-menu .quest input[type=checkbox]:checked::before {
    transform: scale(1);
}

.quest-menu .quest input[type=checkbox]:hover {
    color: #000;
}

.quest-menu .current-quest h3, .quest-menu .quest-done h3 {
    padding: 15px;
    color: #FFF;
    border-bottom: 2px #f5bf42 solid;
    margin-bottom: 10px;
}

.quest-menu .main {
    position: absolute;
    top: 5px;
    right: 5px;
}

.quest-menu {
    height: 500px;
    overflow-y: scroll;
}

.quest-menu .quest input[type=text] {
    background: none;
    border: none;
    font-size: 12px;
    width: 490px;
    color: #FFF;
    font-family: main-font;    
    cursor: pointer;
}

.point-skill {
    display: none;
    overflow: hidden;
    width: 100%;
    position: absolute;
}

.point-skill .main {
    position: absolute;
}

.point-skill .skill-container {
    display: flex;
    
    overflow-x: scroll;
}

.point-skill .skill-container {
    margin-top: 110px;
}

.point-skill .skill-container .first {
    margin-left: 25px;
}

.point-skill .skill {
    min-width: 90%;
    background-color: #444;
    border-radius: 5px;
    border: groove 3px #f5bf42;
    width: 350px;
    height: 300px ;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}

.point-skill .point {
    color: #f5bf42;
    position: absolute;
    right: 15px;
    top: 10px;
}
.point-skill .point input[type=text] {
    border: none;
    background: none;
    font-family: main-font;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #FFF;
    text-shadow: #000 2px 2px 2px;
    border: inset 2px #f5bf42;
    background: rgb(105,105,105);
    background: radial-gradient(circle, rgba(105,105,105,1) 9%, rgba(64,64,64,1) 38%, rgba(36,36,36,1) 56%, rgba(40,40,40,1) 100%); 
}


.point-skill .skill img {
    width: 100%;
    object-fit: cover;
    max-height: 130px;
}

.point-skill .skill p {
    overflow-y: scroll;
    font-size: 12px;
    width: 300px;
    height: 100px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    color: #EEE;
}

.point-skill .skill h3 {
    margin-left: 20px;
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
}

.point-skill .skill .button button {
    padding: 5px;
    background-image: linear-gradient(180deg, #363535, #787878, #292929);
    font-family: main-font;
    font-size: 11px;
    margin: .7px;
    cursor: pointer;
    border: 2px inset #f5bf42;
    color: #FFF;
}

.point-skill .skill .button button:hover {
    opacity: .5;
}

.point-skill .skill .button {
    display: grid;
    position: absolute;
    right: 10px;
    width: 100px;
    top: 134px;
}

@media screen and (max-width: 510px) {
    .playMenu p {
        display: block;
    }

    .playMenu button {
        display: none;
    }
}